<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name = "Keywords" Content="Who's,who,whos,feelwho,瞬间社交,思念，地理位置，瞬间">
  <meta name = "Description" Content="Who's 瞬间社交 传递思念仅需一点！">

  <title>Who's瞬间社交,新一代的社交工具</title>
  <style>
      body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
      dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
      pre, /* text formatting elements 文本格式元素 */
      fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
      th, td { /* table elements 表格元素 */
          margin: 0;
          padding: 0;
      }

      body{ font:normal 100% "微软雅黑", Arial;}

      h1 { font-size: 1.2em;   }
      h2 { font-size: 0.9em; font-weight:normal; }
      h3 { font-size: 2em; font-weight:normal; }

      #headFirst{width:100%; height:118px; }
      #headOne{ width:100%; text-align:center;}
      #headTwo{ width:100%; text-align:center;; color:#f65744;}
      #headThree{ width:100%; text-align:center;; color:gray;font-size:10px;}
      #headHappy{ width:100%; text-align:center;; color:red;}

      #LOGO{ width:100%; height:100%; text-align:center; margin-top:220px;}

      #bottom{ width:100%; height:155px; background:#CCC; text-align:center; background:#42322a; padding-top:10px;}
      #ios{ float:left; width:50%; color:#ffa802; }
      #Android{ float:right; width:50%; color:#a1be07;}

      #qd1{ width:100%; height:560px; color:#f65744; text-align:center; padding:30px 0 30px 0;}
  </style>
</head>

<body>
<div id="headFirst">
  <div id="headOne"><img src="/assets/HTML5_03.png" /></div>

  <div id="headHappy"><h1>2015年 </br>祝您、朋友、恋人、家人</br>身体健康</br>万事如意</br>阖家欢乐</h1></div>
  </br>

  <div id="headTwo"><h1>有木有一瞬间，你曾想到某个朋友、家人、恋人,想给对方打电话？发短信？内心纠结挣扎半天，因为彼此太忙? 还是因为......最终不了了之了呢？</h1></div>
  </br>
  <div id="headTwo"><h1>“只为传递一瞬间的思念”</h1></br> <h1>Who's 瞬间社交</h1></div>
  </br>
</div>
</br>
</br>
</br>
<div id="LOGO"><img src="/assets/HTML5_07.png"/></div>
</br>
<div id="headTwo"><h1>我们致力于让这一切变简单。轻轻一点，传递思念。</h1></div>
<div id="bottom">
  <div id="headThree"><h1>Android下载建议用第三方浏览器,系统自带浏览器有可能不识别APK文件!</h1></div>
  <div id="ios">
    <a class="weiyueyu" href="https://itunes.apple.com/us/app/who-s/id939489889?l=zh&ls=1&mt=8"" >
    <img src="/assets/ios.png" style="margin-bottom:10px" /></br>
    <h2>下载iOS</h2>
    </a>
  </div>
  <div id="Android">
    <a class="weiyueyu" href="http://yunku.gokuai.com/file/n65uzmy8">
      <img src="/assets/Android.png" style="margin-bottom:10px" /></br>
      <h2>下载Android</h2>
    </a>
  </div>
</div>

<div id="qd1">“思念其实无需语言，传递仅需一点”</br>
  <img src="/assets/HTML5_12.png" style="margin:20px;" /></br></br>
  “有一种思念，就是让你知晓，我在何处”</br>
  <img src="/assets/HTML5_15.png" style="margin:20px;" /></br></br>
  “多久能够传递一个思念？"</br>
  <img src="/assets/HTML5_17.png" style="margin:20px 0 0 0;" /></br></br>
  <h3>“在这里，仅需1秒”</h3></br></br>
  - Who's瞬间社交 -

</div>

</body>
</html>
